/* Floating Card Component CSS */
.floating-card {
    width: 90%;
    height: auto;
    min-height: 550px;  /* Minimum height instead of fixed height */
    margin: 20px auto;
    border-radius: 16px;
    transition: all 0.4s cubic-bezier(0.25, 0.95, 0.25, 1);
    z-index: 1;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;  /* Stack children vertically */
}

  
  .floating-card::before {
    content: "";
    position: absolute;
    width: calc(100% + 20px); /* card width + 2 * border width */
    height: calc(100% + 20px); /* card height + 2 * border width */
    top: -10px;
    left: -10px;
    z-index: -1;
    border-radius: inherit;
    transition: inherit;
  }

  
.floating-card.fade-out {
    opacity: 0;
  }


.floating-card.gold {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1),
                -10px -10px 0px 0px rgba(200, 175, 50, 0.95);
}

.floating-card.silver {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1),
                -10px -10px 0px 0px rgba(150, 150, 150, 0.95);
}

.floating-card.bronze {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1),
                -10px -10px 0px 0px rgba(120, 90, 30, 0.95);
}


.floating-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                -10px -10px 0px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    z-index: 4;
}

.card-container {
    position: relative;
    height: 550px;
    width: 85%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;  /* Changed from column to row */
    align-items: start;  /* Align items at the top */
}

.gold {
    top: 0;
    right: 0;
    z-index: 3;
    background: linear-gradient(135deg, rgba(245, 215, 110, 0.95), #ffd900);
}

.silver {
    top: 20px;
    right: 40px;
    z-index: 2;
    background: linear-gradient(135deg, rgba(212, 212, 212, 0.95), rgba(168, 168, 168, 0.95));
}

.bronze {
    top: 40px;
    right: 80px;
    z-index: 1;
    background: linear-gradient(135deg, rgba(166, 121, 41, 0.95), #cd8032);
}

.card-button-container {
  width: 100%;
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Add this line */
  flex-grow: 1; /* Ensures that the container takes up the full height */
}

  
.floating-card .card-button-container .left-button,
.floating-card .card-button-container .right-button {
    width: calc(60% - 10px);
    margin: 0 30px;
  }
  
  .minimal-stats-card-demo {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0; /* Add this */
    flex: 0 0 auto; /* Will not grow, will not shrink, initial width is auto */
    width: 33.3333%; /* Takes up 1/3 of the container */
    margin-top: auto;
    margin-bottom: auto;
    top: 20%;  /* Adjust based on your needs */
    right: 0;
    transform: translateY(-50%);  /* Center vertically based on the new top value */
  }

  .ber-medallion-container {
    flex-grow: 1;  /* Will grow to take up all available space */
    align-items: center;
    justify-content: center;
    margin: 0;  /* No margins */
    padding: 0;  /* No padding */
    margin-left: 30px;
  }
  
  .stats-card-container {
    width: 100%;  /* Take the full width of the parent */
    display: flex;  /* Enable flexbox */
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;  /* No padding */
  }
  
  
  