/* IvoryCardTable.css */

.ivory-card-table-container {
    background-color: ivory;
    padding: 0px;
    border-radius: 12px; /* Rounded corners like your floating cards */
    box-shadow: none; /* Flat card */
    margin: auto;
    width: 93%;
    margin-top: 5px;
    margin-bottom: 2px;
    flex-grow: 1;
    overflow-y: auto;  /* Scroll when content overflows */
    height: auto;
    max-height: 100%;
    flex-grow: 0;
    padding-bottom: 20px;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1), 0px -5px 10px rgba(0, 0, 0, 0.1);

}
  
.ivory-card-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.7rem;  /* default font size for larger screens */
  max-width: calc(100% - 0px); /* 100% - 2 * padding */
}

.ivory-table-row {
    display: flex;
    justify-content: space-between;
  }
  
.ivory-table-item {
    flex: 1;
    margin: 0 8px;
    padding: 5px;
  }
  
.ivory-card-table-header {
    margin-bottom: 16px;
  }
  
  .ivory-card-table th, .ivory-card-table td {
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.1px;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    text-align: left;
  }
  
  .bold-border-top th, .bold-border-top td {
    border-top: 2px solid rgba(0, 0, 0, 0.87);
  }
  
  .bold-border-bottom th, .bold-border-bottom td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
  }
  
  .double-border-bottom th, .double-border-bottom td {
    border-bottom: double 3px rgba(0, 0, 0, 0.87);
  }

  /* Media query for screens with a max width of 600px (e.g., mobile devices) */
@media (max-width: 720px) {
  .ivory-card-table {
      font-size: 0.271rem;  /* smaller font size for smaller screens */
  }
  .ivory-card-table-header {
    font-size: 0.7rem;  /* slightly smaller font size for table headers on smaller screens */
}
}