.minimal-stats-card {
  z-index: 4;
  width: 300px;
  background-color: ivory; /* Set the background color to ivory */
  border-radius: 12px;
  padding: 16px;
  padding-bottom: 0;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1), 0px -5px 10px rgba(0, 0, 0, 0.1); /* 3D effect */
  display: flex;
  height: 135px;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #58CC02;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  margin-bottom: 12px;
}

.progress-container {
  width: 100%;
  display: flex;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
}

.segment {
  flex: 1;
  border-right: 1px solid #ccc;
}

.segment:last-child {
  border-right: none;
}

.rating {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
