.stats-card {
    display: flex;
    top: 20px;
    right: 20px;
    z-index: 5; /* Above all other contents */
    position: absolute;
    justify-content: space-between;
    background-color: #F9F9F9; /* Light gray background for the card */
    padding: 10px;
    padding-top: 0;
    width: 300px;
    height: 140px;
    border-radius: 25px;  /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow */
    padding-left: 20px;
  }
  
  .rectangle-container {
    display: flex;
    align-items: flex-end;
    width: 90%;  /* Increased width */
  }
  
  .rectangle {
    width: 25px;  /* Increased width */
    background-color: #CDCDCD;  /* Gray */
    margin-right: 12px;  /* Increased margin */
    border-radius: 10px;  /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for active state */
  }
  
.rectangle.active {
    background-color: #58CC02; /* Duolingo green */
  }
  
  .percentage-container {
    width: 20%;  /* Reduced width */
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.8em;
    font-weight: bold;  /* Bold font */
    color: rgb(31, 169, 201);  /* Duolingo text color */
    padding-right: 10px;  /* Added padding */
  }

  .stats-card-position {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5; /* Above all other contents */
  }
  